*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* Home-Section */

.home{
    height: 50vh;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.364), rgba(2, 2, 2, 0.781)),url(../images/bus.jpg);    
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.body_content{
    margin: 10px;
    text-align: center;
    color: #fff;
}
.nav{
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}
.logo{
    font-size: 25px;
}
.logo a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.nav button{
    padding: 10px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    transition: .2s;
}
.nav button:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
}
.body_content .text{
    min-height: 50vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text h1{
    font-size: 45px;
    color: #fff;
}


/* Destination-section */

.select_d {
    /* min-height: 80vh; */
    padding: 10px;
    margin: 20px;
}
.select_d .form{
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: end;
}
.select_d h1{
    margin: 20px;
    text-align: center;
    font-size: 40px;
    color: #000;
}
.form form{
    padding: 10px;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
}
.form i{
    color: #000;
    font-size: 20px;
}
.form input{
    margin-left: 10px;
    background: none;
    border: none;
    outline: none;
}

/* selection_process */

.selection_process{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.starting_destination{
    width: 60%;
    margin: 10px;
    height: 50vh;
    background: #000;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background: linear-gradient(#000000a7,#0a0a0a4f),url(../images/aa.jpg);
    background-size: cover;
}
.starting_destination .aa{
    width: 700px;
    display: flex;
    align-items: center;
    color: #fff;
}
.starting_destination .aa h1{
    color: #fff;
}
.starting_destination .aa .name::after{
    content: '';
    display: block;
    width: auto;
    height: 5px;
    background-color: #fff;
}
.slide-container{
    width: 50%;
    height: 50vh;
    background-color: #b1afafb2;
    border-radius: 10px;
}

/* containers */

.slide-content{
    width: 950px;
    padding: 9px;
    border-radius: 10px;
}
.D_container{
    width: auto;
    min-width: 320px;
    height: 45vh;
    padding: 5px;
    position: relative;
    border-radius: 20px;
}
.D_container img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 20px;
    transition: .2s;
}
.txt{
    margin: 5px;
    margin-left: 0;
    padding: 20px;
    height: 2vh;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(10px);
    bottom: 0px;
    border-radius: 0 0 20px 20px;
    transition: all .3s;
}
.D_container h2{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.D_container p{
    height: 7vh;
    font-size: 18px;
    opacity: 0;
    color: #ccc;
    overflow: hidden;
}
.D_container button{
    margin: 5px;
    padding: 3px;
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}
.D_container:hover .txt{
    height: 12vh; 
}
.D_container:hover p{
    opacity: 1;
    font-size: 15px;
}
.D_container button:hover{
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.swiper-button-next,
.swiper-button-prev{
    width: 10px !important;
    height: 20px !important;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    backdrop-filter: blur(20px);
}
.swiper-button-next::before,
.swiper-button-prev::before,
.swiper-button-next::after, 
.swiper-button-prev::after{
    content: '';
    color: #fff;
    font-size: 20px !important;
} 

.swiper-pagination{
    position: relative;
    padding: 0 50px;
}

.select_t_day{
    margin: 0 50px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
}
.st_box{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.today,.tommorrow,.s_tday{
    width: 200px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 30px;
    text-align: center;
    transition: .2s;
}
.today{
    color: #fff;
    background-color: black;
}
.today:hover{
    cursor: pointer;
    color: #000;
    background-color: #fff;
}
.tommorrow:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
.tommorrow{
    color: #000;
    letter-spacing: 2px;
}
.s_tday input{
    outline: none;
    background: none;
    border: none;
    letter-spacing: 4px;
}
.select_t_day .btn{
    margin: 20px;
    text-align: center;
}
.btn button{
    width: 150px;
    padding: 10px;
    background: none;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
.btn button:hover{
    background-color: #000;
    color: #fff;
}
.btn a{
    text-decoration: none;
    color: #000;
}
@media (max-width: 1800px) { 
    .nav{
        justify-content: space-between;
    }
    .text{
        align-items: center;
    }
    .text h1{
        padding: 10px;
        font-size: 30px;
    }
    .text p{
        font-size: 15px;
    }
    .form form{
        padding: 5px;
    }
    .select_d .title{
        width: 100%;
        margin: 0 0 10px 0;
    }
    .selection_process{
        margin: 10px;
        
    flex-direction: column-reverse;
    }
    .starting_destination{
        width: 100%;
        margin: 0 0 10px 0;
        background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.671)), url(../images/small.jpg);
        background-size: cover;
        position: relative;
    }
    .starting_destination .aa h1{
        width: 100%;
    }
    .starting_destination .aa p{
        background-color: #fff;
        color: #000 ;
    }
    .slide-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 880px){
    .out{
        display: flex;
        justify-content: center;
    }
    .st_box{
        display: block;
        text-align: center;
    }
    .today,.tommorrow,.s_tday{
        margin: 10px 0 0 0;
        width: 100%;
    }
    .select_d h1,.se{
        font-size: 25px;
    }
}


@media (max-width: 700px) { 
    .D_container{
        min-width: 100px ;
    }
    .select_t_day{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .D_container p{
        height: 8vh; 
    }
    .D_container:hover .txt{
        height: 18vh; 
    }    
    .swiper-pagination{
        display: flex;
        margin: 0 0 0 80px;
    }
    
}