*{
    margin: 0;
    padding: 0;
}
.msg-box{
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
}
.msg-box .txt{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.msg-box .txt p{
    padding: 5px;
    margin: 4px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.bus-list{
    height: 20vh;
    margin: 10px;
    padding: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bus-opt{
    width: 350px;
    height: 20vh;
    margin: 10px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: end;
}
.bus-opt p{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
}
.bus-opt:hover{
    border: 1px solid #fff;
}

.offers{
    margin: 10px;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.price{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rebeccapurple;
    color: #fff;
}